body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

.clearfix {
    clear: both;
}

header {
    width: 100vh;
}

.slider-page {
    background: url(../img/1.jpg) no-repeat center top / cover;
    display: none;
}

.slider-page:nth-child(1) {
    background: url(../img/1.jpg);
}

.slider-page:nth-child(2) {
    background: url(../img/2.jpg);
}

.slider-page:nth-child(3) {
    background: url(../img/3.jpg);
}

.slider-page.curry {
    display: block;
}

h1 {
    font-family: 'Roboto';
    font-size: 65px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    padding-top: 350px;
    color: #fffef8;
    text-shadow: 1px 1px 7px #000;
}

h2 {
    font-family: 'Roboto';
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 20px;
}

p {
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 300;
}

.photo-institutions-element {
    display: inline-block;
    padding: 25px 0;
}

.photo-institutions-text {
    padding-top: 80px;
}

.photo-institutions-img {
    width: 400px;
    float: right;
}

h3 {
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 70px;
}

.restaurant-img {
    display: block;
    width: 1000px;
    margin: 0 auto;
}

.restaurant-text {
    padding: 35px 0;
    text-align: center;
}

footer {
    background-color: #f8f8f8;
}

.footer-text {
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
}