h1, h2, h3, h4, p, a {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    overflow-x: hidden;
}

.nav-menu {
    position: fixed;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.6);
    height: 30px;
}

.language {
    position: relative;
    width: 90px;
    height: 42px;
    background-color: rgba(29, 29, 29, 0.6);
    border-radius: 8px;
    top: -16px;
    left: -35px;
    margin: 0;
}

.img-language, .img-text {
    position: relative;
    display: inline-block;
}

.img-text {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 17.85;
    color: #fff;
    margin-top: 18px;
    margin-left: 25px;
}

.menu {
    float: right;
    margin: 5px 0 0 0;
    padding: 0;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-right: 12px;
}

.menu-txt {
    font-family: 'Roboto';
    font-size: 12.8px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
}

header {
    background: url(../img/1.jpg) no-repeat center top / cover;
    height: 100vh;
}

h1 {
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 100px;
    text-transform: uppercase;
    color: #fff;
}

h2 {
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 45px;
    text-transform: uppercase;
    color: #1d1d1d;
}

.header-text {
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 25px;
    color: #fff;
    margin-left: 115px;
}

.rus-header {
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 25px;
    color: #fff;
    margin-top: 20px;
    margin-left: 100px;
}

.about-h2 {
    padding-bottom: 15px; 
}

.button-lang {
    cursor: pointer;
}

section {
    padding: 60px 0;
}

.nav-menu {
    padding: 0;
}

.about-img {
    float: left;
}

.about-text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    padding-left: 410px;
    padding-top: 120px;
}

.education-h2 {
    color: #fff;
}

.education {
    background: #1d1d1d url(../img/6.png) no-repeat right top / contain;
    background-size: contain;
}

.job-img {
    display: block;
    width: 140px;
    margin: 20px auto 0 auto;
}

.first {
    width: 150px;
    margin-top: 40px;
}

.second {
    margin-top: 35px;
}

.job {
    display: block;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 17px;
}

.number {
    display: inline-block;
    font-family: 'Roboto';
    font-size: 45px;
    font-weight: 800;
    color: #1d1d1d;
    margin-top: 32px;
    margin-left: 25px;
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}

.skill_bg {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 75px;
    width: 150px;
    height: 150px;
    border: 10px solid #1d1d1d;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.skill-name {
    position: relative;
    text-align: center;
    margin-top: 40px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 25px;
}

.portfolio {
    background-color: #eee;
}

.portfolio-img {
    display: block;
    margin: 35px auto;
}

.rewiews-h2 {
    color: #fff;
}

.photo {
    width: 300px;
    float: left;
    padding: 35px;
}

.name-man {
    position: relative;
    display: inline-block;
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    margin-top: 65px;
}

.rewiew-man {
    position: relative;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

.rewiews {
    background: #1d1d1d url(../img/10.png) no-repeat right top / contain;
    background-size: contain;
}

.submit-form {
    width: 250px;
    height: 35px;
    padding-left: 5px;
    padding-top: 3px;
    background: none;
    outline: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #272b28;
    border-bottom-width: 1px;
}

.intput-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
}

.button-input {
    display: inline-block;
    background-color: #1d1d1d;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 15px;
    width: 120px;
    padding: 12px 0;
    margin-top: 30px;
    float: right;
    text-align: center;
    border-radius: 18px;
    margin-right: 60px;
}
.contact-form {
    position: relative;
}

.social-menu {
    float: right;
}

.rixailedstudio {
    color: #fff;
    float: left;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
}

footer{
    background-color: #1d1d1d;
}

.item-soc {
    width: 30px;
}